{% extends 'admin.html.twig' %}

{% block metatitle %}Connexion{% endblock %}

{% block body %}
<div class="container mx-auto h-screen flex flex-wrap justify-center content-center">
    <form class="bg-slate-200 p-6 rounded-md w-80" method="post">
        {% if error %}
            <div class="bg-red-500 text-sm text-white rounded-lg p-4 mb-3" role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                Connecté comme {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
            </div>
        {% endif %}

        <h1 class="text-2xl text-primary font-bold mb-6">Connexion</h1>
        <label class="block text-sm font-medium mb-2" for="inputUsername">Nom d'utilisateur</label>
        <input class="py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none" type="text" value="{{ last_username }}" name="username" id="inputUsername" autocomplete="username" required autofocus>
        <label class="mt-5 block text-sm font-medium mb-2" for="inputPassword">Mot de passe</label>
        <input class="py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none" type="password" name="password" id="inputPassword" autocomplete="current-password" required>

        <input type="hidden" name="_csrf_token"
            value="{{ csrf_token('authenticate') }}"
        >

        <button class="mt-6 w-full py-3 rounded-lg border border-transparent bg-primary text-white" type="submit">
            Connexion
        </button>
    </form>
</div>

{% endblock %}
